/* Mobile & tablet */
@media (max-width: 1023px) {
  .header-logo_img {
    background-position: center center;
    padding-top: 10%;
  }

  .multimedia-right_news {
    margin-top: 16px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */

@media (max-width: 768px) {
  .content-hot {
    display: flex;
    flex-direction: column;
  }
  .layout-content-right_news {
    display: none;
  }
}
@media screen and (min-width: 375px) and (max-width: 767px) {
  .layout-container {
    padding: 0;
  }
}
