* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--white-color);
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #ffcb3e;
  --background-color: #f2f2f2;
  --footer-color: #434343;

  --header-height: 74px;
}

a:hover {
  color: var(--black-color);
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

img {
  cursor: pointer;
  width: 100%;
}

#news-title:hover {
  color: #006ba0;
}
.layout-container {
  max-width: 1000px;
  padding-left: 40px;
  padding-right: 40px;
  display: block;
  margin: 0 auto;
}
.category {
  padding-top: 10%;
}
