/* Header */
.header {
  height: var(--header-height);
  border-bottom: 1px solid #ddd;
  background-color: var(--white-color);
}

.header-logo_img {
  background-image: url("../img/main-logo.png");
  padding-top: 35%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}

.header-nav_list {
  margin-bottom: 0;
  padding-left: 0;
}

.header-nav_item {
  list-style: none;
  padding: 0 8px;
  margin: auto;
}

.header-nav_item:hover .header-nav_link {
  color: #2fa1b3;
  border-bottom: 3px solid #2fa1b3;
}

.header-nav_link {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 24px 0px;
}

.header-nav_btn {
  padding: 24px 0px;
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 8px;
}

.header-search {
  font-size: 2.6rem;
  padding-right: 20px;
  cursor: pointer;
}

.header-search:hover {
  color: #2fa1b3;
}

.header-user {
  font-size: 2.6rem;
  cursor: pointer;
  position: relative;
}

/* User Options */

.user-options {
  position: absolute;
  font-size: 1.44rem;
  background-color: #f7f7f7;
  right: 0;
  top: 108%;
  width: 100px;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s;
}

.user-options_list {
  padding-left: 0;
  margin-bottom: 0;
}

.user-options_item {
  list-style: none;
  padding: 8px 12px;
}

.user-options_item:hover {
  background-color: #ccc;
}

/* Subnav */
.header-subnav {
  background-color: #141329;
  margin-top: var(--header-height);
  color: var(--white-color);
  transition: all 0.3s;
}

.header-subnav_wrap {
  padding: 28px 0px;
}

.header-subnav_title {
  font-size: 1.9rem;
  font-weight: 600;
  margin-left: 20px;
  position: relative;
}

.header-subnav_title::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 12px;
  left: -15px;
  top: 9px;
  -webkit-transform: skew(-20deg);
  -khtml-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background-color: #dd3333;
}

.header-subnav_item {
  list-style: none;
  padding: 2px 0px;
}

.header-subnav_item:hover .header-subnav_link {
  color: #2fa1b3;
}

.header-subnav_link {
  color: #ccc;
  font-size: 1.5rem;
}

/* category*/

.category {
  padding-top: 10%;
}
.category-title_name {
  font-size: 1.6rem;
}
.category-desc {
  font-size: 2rem;
}
.img-desc {
  font-size: 1.6rem;
  color: rgb(105, 102, 102);
  font-style: italic;
}
.content-right_news-img {
  max-width: 144px;
  height: 100px;
  object-fit: cover;
}

/*  hero */
.hero-name {
  font-size: 2rem;
}
.hero-desc {
  font-size: 1.4rem;
  margin-top: 1rem;
}

/* featrue */

.featrue-title-desc,
.featrue-title {
  text-transform: uppercase;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  position: relative;
}
.featrue-title-desc::before,
.featrue-title:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 86%;
  left: -20px;
  top: 4px;
  bottom: 12px;
  -webkit-transform: skew(-20deg);
  -khtml-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background-color: #dd3333;
}
/* Footer */
.tag-hot {
  margin-top: var(--header-height);
  height: 48px;
}

.tag-hot_icon {
  font-size: 2rem;
}
.tag-hot_name {
  font-size: 1.4rem;
  background-color: #f0f0f0;
  line-height: 24px;
  margin: 0 8px;
  padding: 0 16px;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.tag-hot_name::after {
  content: "#";
  position: absolute;
  top: 4%;
  left: 8px;
  font-size: 1.5rem;
  color: rgb(119, 118, 118);
}

.tag-hot_name:hover {
  background: -webkit-linear-gradient(
    135deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  background: -moz-linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: bggradient 15s ease infinite;
  -moz-animation: bggradient 15s ease infinite;
  animation: bggradient 15s ease infinite;
  color: #fff;
}
