/* Header */
.header {
  height: var(--header-height);
  border-bottom: 1px solid #ddd;
  background-color: var(--white-color);
}

.header-logo_img {
  background-image: url("../img/main-logo.png");
  padding-top: 35%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
}

.header-nav_list {
  margin-bottom: 0;
  padding-left: 0;
}

.header-nav_item {
  list-style: none;
  padding: 0 8px;
  margin: auto;
}

.header-nav_item:hover .header-nav_link {
  color: #2fa1b3;
  border-bottom: 3px solid #2fa1b3;
}

.header-nav_link {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 24px 0px;
}

.header-nav_btn {
  padding: 24px 0px;
  font-size: 1.6rem;
  margin-left: 8px;
}

.header-search {
  font-size: 2.6rem;
  padding-right: 20px;
  cursor: pointer;
}

.header-search:hover {
  color: #2fa1b3;
}

.header-user {
  font-size: 2.6rem;
  cursor: pointer;
  position: relative;
}

/* User Options */

.user-options {
  position: absolute;
  font-size: 1.44rem;
  background-color: #f7f7f7;
  right: 0;
  top: 108%;
  width: 100px;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.3s;
}

.user-options_list {
  padding-left: 0;
  margin-bottom: 0;
}

.user-options_item {
  list-style: none;
  padding: 8px 12px;
}

.user-options_item:hover {
  background-color: #ccc;
}

/* Subnav */
.header-subnav {
  background-color: #141329;
  margin-top: var(--header-height);
  color: var(--white-color);
  transition: all 0.3s;
}

.header-subnav_wrap {
  padding: 28px 0px;
}

.header-subnav_title {
  font-size: 1.9rem;
  font-weight: 600;
  margin-left: 20px;
  position: relative;
}

.header-subnav_title::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 12px;
  left: -15px;
  top: 9px;
  -webkit-transform: skew(-20deg);
  -khtml-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  transform: skew(-20deg);
  background-color: #dd3333;
}

.header-subnav_item {
  list-style: none;
  padding: 2px 0px;
}

.header-subnav_item:hover .header-subnav_link {
  color: #2fa1b3;
}

.header-subnav_link {
  color: #ccc;
  font-size: 1.5rem;
}

/* category*/

.category {
  padding-top: 10%;
}
.category-title_name {
  font-size: 1.6rem;
}
.category-desc {
  font-size: 2rem;
}
.img-desc {
  font-size: 1.6rem;
  color: rgb(105, 102, 102);
  font-style: italic;
}
.content-right_news {
  padding: 8rem 4rem 0 4rem;
  font-weight: 700;
}
/* Footer */
.footer {
  background-color: #f0eeee;
  margin-top: 36px;
  padding: 20px 0;
  font-size: 1.3rem;
  color: #888;
}

.footer-logo {
  background: url("../img/main-logo.png") no-repeat center center;
  padding-top: 25%;
  background-position: top left;
  background-size: contain;
}

.footer-content {
  margin-top: 16px;
}

.footer-social a {
  margin-top: 16px;
}

.footer-social a i {
  font-size: 2.6rem;
  padding: 0px 24px 16px 0;
  color: #888;
}
