
.content-introduce{
    margin-top: var(--header-height);
    padding: 100px 0;
}

.content-introduce_header{
    margin-bottom: 16px;
}

.content-introduce_header h1 {
    color: #191919;
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
}

.content-introduce_title{
    font-size: 1.8rem;
    color: #333333;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin-top: 42px;
}

.content-introduce_text{
    margin: 20px 20px 0 16px;
    text-align: justify;
    line-height: 30px;
    font-family: 'roboto', serif;
    color: #707070;
    font-size: 1.5rem;
    letter-spacing: 0.3px;
}

.content-introduce_text a{
    font-weight: 600;
    color: #191919;
}

.content-introduce_text a:hover{
    color: var(--bs-blue);
}

.content-introduce_img{
    padding: 42px;
}
