/* Tablet */
@media (min-width: 769px) and (max-width: 1023px) {
h1{
	padding-top:16%;
}
  .layout-container {
    padding: 0;
  }
  .container {
    box-sizing: border-box;
    max-width: 100%;
  }
  .layout-content-right_news {
    padding: 8rem 0 0 2rem;
  }
  .content-right_news-img {
    max-width: 100%;
    height: 150px;
  }
  .content-right_news {
    flex-direction: column;
  }
  .layout-content-right_news {
    padding: 10rem 0 0 2rem;
  }

}

/* Mobile */

@media (max-width: 768px) {
  .content-right_news {
    flex-direction: column;
  }
  .container {
    padding: 0;
    margin: 0;
  }
  .layout-container {
    padding: 0 1rem;
  }
  .layout-content-right_news {
    padding: 10rem 0 0 2rem;
  }
  .content-right_news-img {
    max-width: 100%;
    min-height: 150px;
  }
  .hero-desc {
    display: none;
  }
}
@media screen and (min-width: 360px) and (max-width: 767px) {
  h1 {
    padding-top: 26%;
    font-size: 3rem;
  }
  .category-heading {
    margin: 1rem 0;
    line-height: 2.2rem;
  }

  .category-desc {
    font-size: 1.6rem;
  }
  .layout-container {
    padding: 0 1rem;
  }
  .featrue {
    margin-top: 5rem;
  }
  .content-hot,
  .hero-content {
    flex-direction: column;
  }
  .featrue-title-desc,
  .featrue-title {
    margin-left: 2rem;
  }
  .content-right_news-img {
    max-width: 100%;
    min-height: 320px;
  }
  .layout-content-right_news {
    padding: 0;
  }
}

@media screen and (min-width:360px) and (max-width:1023px) {
 .content-main_news{
  padding: 0rem !important;
  }
	
}